/* // Source: https://theoutline.com/post/5970/unconventional-wisdom-emotional-readiness-is-bullshit */
@import url("https://use.typekit.net/mfg0brt.css");
@import "compass/css3";
body {
  background-color: rgb(222, 238, 213);
  /* background-image: linear-gradient(360deg,rgba(209, 190, 241, 0.733), rgb(255, 252, 237) ,rgba(203, 243, 194, 0.5)); */
  overflow-x:hidden;
  /* overflow-y: hidden; */
}
/* .index-body {
  background-image: linear-gradient(360deg,rgba(209, 190, 241, 0.733), rgb(255, 252, 237) ,rgba(203, 243, 194, 0.5));
} */
/* main{
  background-image: url("blob.svg");
} */
.section-heading {
  font-family: operetta-18, serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  /* border-bottom: 1px solid; */
}
.index-type{
  font-family: operetta-18, serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding-top: 25%;
  padding-left:0% ; 
  padding-right: 0%;
  padding-bottom: 25%;
   position: absolute;
  z-index: 50;
  font-size: 5rem;
  text-align: center;
  overflow-x: hidden;
  overflow-x: hidden;
}

.index-heading {
z-index: -25;
position: absolute;
  /* border-bottom: px dotted; */
  /* background-color:  rgb(209, 190, 241); */
  background-image: linear-gradient(360deg,rgba(209, 190, 241, 0.733), rgb(255, 252, 237) ,rgba(203, 243, 194, 0.5));
  border-radius: 2%;
  padding-bottom: 30%;
  
  margin: 0 0 0rem;
  /* margin-right: 2rem; */
  color: rgb(49, 33, 28);
}
.type-heading-1 {
  
  margin-top: -3%;
  margin-bottom: 1%;
  padding-top:3%;
padding-bottom: 10%;
  font-family: operetta-18, serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  /* border-bottom: px dotted; */
  /* background-color:  rgb(209, 190, 241); */
  background-image: linear-gradient(360deg,rgba(209, 190, 241, 0.733), #e7f3a400 ,rgba(203, 243, 194, 0),rgba(209, 190, 241, 0.733));

  border-radius: 2%;

  font-size: 4rem;
  /* margin: 2 2 2rem; */
  /* margin-right: 2rem; */
  color: rgb(49, 33, 28);
}
.type-heading-2 {
  
  font-family: operetta-12, serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  
  font-size: 2rem;
  margin: 2 2 3rem;
  margin-left: 9%;
  margin-right: 2rem;
  color: rgb(68, 41, 33);
}
.type-heading-3 {
  font-family: operetta-32, serif;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  padding-left:25%;
  font-size: 3rem;
  margin: 0 0 3rem;
  color: rgb(105, 75, 70);
}
/*  */
/* //overflow hidden */
.type-body-1 {
  /* text-transform: lowercase; */
  /* border-bottom: 1px solid; */
  font-family: operetta-18, serif;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  text-align: left;
text-align-last: inherit;
  font-family: operetta-32, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  /* margin: 0 0 3rem; */
  margin-left: 9%;
  color: rgb(49, 33, 28);
}
.type-body-2 {
  /* background-image: linear-gradient(rgba(209, 190, 241, 0.253), rgba(203, 243, 194, 0.281)); */
  padding-top:5%;
  padding-bottom: 5%;
  border-radius: 15px 50px 30px 20px;
 
  /* text-transform: capitalize; */
  font-family: operetta-8, serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 100;
  font-size: 2rem;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
overflow-wrap: break-word;
  /* left:50%; */
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  /* margin: 3 0 3rem; */
  left: 2rem;
  color: rgb(49, 33, 28);
}
.type-link {
  font-family: operetta-8, serif;
  font-weight: 400;
  font-style: normal;

  color: rgb(61, 48, 29);
  text-decoration: none;
}
.projects{
  flex-direction: column ;
  font-family: operetta-18, serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
a{
  color:inherit;
}
a:visited,a:hover {
  color: rgb(61, 48, 29);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='rgb(177, 135, 245)' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}
.color {
  color: rgb(49, 33, 28);
}
.color-primary {
  color: rgb(255, 252, 237);
}
.color-secondary {
  color: rgb(127, 161, 107);
}
.color-accent {
  color: rgb(209, 190, 241);
}
.iconblob1{
  
  font-family: operetta-32, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5rem;
  position: absolute;
  z-index: 10;
  top:15%;
  right:0%;
width: 15%;
color: rgb(105, 75, 70);
}
.iconblob2{
  position: absolute;
  font-family: operetta-32, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5rem;
  
  z-index: 10;
  top:15%;
  right:10%;
width: 15%;
color: rgb(105, 75, 70);

}

.blob1{
  opacity: 100%;
  /* background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255, 0, 0, 0.089) 100%); */
  position: absolute;
  z-index: -20;
  top:-30%;
  left:60%;
width: 90%;
overflow-x: hidden;
overflow-y: hidden;
}
/* .blob1:hover{
  transition:transform 0.3s;
  transform:rotate(45deg);
} */
.blob2{
  opacity: 90%;
  /* fill:red; */
  /* background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,0,0,0.65) 100%); */
  position: absolute;
  z-index: -20;
  top:5%;
  left:-30%;
width: 100%;
overflow-x: hidden;
overflow-y:hidden;

}
.blob3{
  opacity: 80%;
  position: absolute;
  z-index: -20;
  top:30%;
  left:20%;
/* width: 90%; */
overflow-x: hidden;
overflow-y:hidden;
}
.blob4{
  opacity: 90%;
  position: absolute;
  z-index: 20;
  top:90%;
  left:50%;
/* width: 90%; */
overflow-x: hidden;
overflow-y:hidden;
}
.blob5{
  opacity: 90%;
  position: absolute;
  z-index: -20;
  bottom:40vh;
  left:5%;
/* width: 90%; */
overflow-x: hidden;
overflow-y:hidden;
}
.blob6{
  opacity: 60%;
  position: absolute;
  z-index: -20;
  bottom:900vh;
  top: 90%;
  left:5%;
/* width: 90%; */
overflow-x: hidden;
overflow-y:hidden;
}
.button-primary {
  font-family: operetta-32, serif;
  font-weight: 400;
  border-radius: 0.3rem;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.1);
  border-left-color: transparent;
}
.button-secondary {
  font-family: operetta-32, serif;
  font-weight: 400;
  border-radius: 0.3rem;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.1);
  border-left-color: transparent;
}
.vid-cont{
  position: absolute;
left:10%;
  padding-top:30px;
  height:0;
  overflow: hidden;
  
}


img{
  

  /* left:50%; */
  line-height: 1.5;
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
 width: 80vh;
 display: block;

}

#drag{
  position: absolute;
}
#drag1{
  position: absolute;
}
#drag2{
  position: absolute;
}
#drag3{
  position: absolute;
}
#drag4{
  position: absolute;
}
#drag5{
  position: absolute;
}
#drag6{
  position: absolute;
}
#drag7{
  position: absolute;
}

.container{
  margin: 0 auto;
  max-width: 150%;
  padding: 0 1rem;
  
}
.responsive-image {
  max-width: 100%;
  

}
.cell img {
  display: block;
  
 
}
.cell iframe{
  display: block;
}
@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 90%;
    margin-left:2%;
    margin-right:2%;
  }
  .cell iframe {
    width: 90%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 2%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
    margin-left: 5%;
  }
  .cell iframe {
    width: 90%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 2%;
  }
  
  body{
    overflow-x:hidden;
  }

}